[submodule "doc"]
	path = doc
	url = git@github.com:scarburato/searchenginepp_docs.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = git@github.com:google/googletest.git
[submodule "simdutf"]
	path = simdutf
	url = git@github.com:simdutf/simdutf.git
